@page "/Info/{id:int}"
@inject DatabaseContext DbContext

<h3>Info</h3>

@if (pokemon is not null)
{
    <div class="card">
        <div class="card-body bg-light">
            <h1>@pokemon?.Name</h1>
            <p>
                <span class="badge text-bg-primary">@pokemon?.Type</span>&nbsp;
                <span class="badge text-bg-success">Generation @pokemon?.Generation</span>&nbsp;
                @if(pokemon.Legendary)
                {
                    <span class="badge text-bg-warning">Legendary</span>

                }
            </p>

            <div row="g-3">
                HP
                <div class="progress" role="progressbar" aria-label="hp" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height:25px">
                    <div class="progress-bar bg-danger" style="width: (255/@pokemon?.HP) * 100">@pokemon?.HP</div>
                </div>
            </div>

            <p>
                <div class="progress" role="progressbar" aria-label="hp" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height:25px">
                    <div class="progress-bar bg-warning" style="width: 100%">@pokemon?.Attack</div>
                </div>
            </p>
            <p>
                <div class="progress" role="progressbar" aria-label="hp" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height:25px">
                    <div class="progress-bar" style="width: 100%">@pokemon?.Defence</div>
                </div>
            </p>
            <p>
                <div class="progress" role="progressbar" aria-label="hp" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height:25px">
                    <div class="progress-bar bg-success" style="width: 100%">@pokemon?.Speed</div>
                </div>
            </p>    <p>
                <div class="progress" role="progressbar" aria-label="hp" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height:25px">
                    <div class="progress-bar bg-info" style="width: 100%">@pokemon?.Total</div>
                </div>
            </p>
        </div>
    </div>
}
else
{
    <p>No pokemon for @Id</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Pokemon? pokemon;
    protected override void OnInitialized()
    {
        pokemon = DbContext.Pokemons.SingleOrDefault(p => p.Id == Id);
    }

}
